body {
  background-color: #739072;
}

.navigation {
  max-width: 80%;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 30px;
  border: solid #3a4d39;
  border-radius: 5px;
  line-height: 75%;
  color: #3a4d39;
  background-color: #ece3ce;
  font-family: "Lexend", serif;
}
.navigationH1 {
  font-size: 30px;
  font-weight: 300;
  line-height: 100%;
}
.navigationH2 {
  color: #6a9c89;
  font-size: 18px;
}
.navigationLinks {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  font-size: 15px;
  padding-left: 0;
}
a:link,
a:visited {
  color: #3a4d39;
  text-decoration: none;
}
a:hover {
  color: #6a9c89;
  text-decoration: none;
}

.petIntros {
  max-width: 80%;
  text-align: justify;
  margin: 0 auto;
  padding: 30px;
  border: solid #3a4d39;
  border-radius: 5px;
  color: #6a9c89;
  background-color: #ece3ce;
  font-family: "Lexend", serif;
  font-size: smaller;
}
.mainCharacters {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 300;
  line-height: 100%;
  color: #3a4d39;
}
.petBioGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
  text-align: left;
  margin: 0;
  color: #6a9c89;
}
.petBioSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#pet-photo {
  border: solid #3a4d39;
  border-radius: 5px;
  width: 150px;
  float: left;
  margin-right: 15px;
}
.petBio {
  margin: 0 auto;
  line-height: 150%;
  text-align: left;
}

.footer {
  max-width: 80%;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 30px;
  line-height: 75%;
  color: #ece3ce;
  font-family: "Lexend", serif;
  font-size: smaller;
}
.underFooter {
  color: #3a4d39;
}
.emWright:hover {
  color: #ece3ce;
}
.topButton {
  border: none;
  border-radius: 5px;
  background-color: #ece3ce;
  font-family: "Lexend", serif;
  color: #3a4d39;
  padding: 4px;
}
.topButton:hover {
  border: none;
  background-color: #3a4d39;
  color: #ece3ce;
  cursor: pointer;
}
.newPost {
  max-width: 80%;
  text-align: left;
  display: block;
  margin: 0 auto;
  border: solid #3a4d39;
  border-radius: 5px;
  padding: 30px;
  color: #6a9c89;
  background-color: #ece3ce;
  font-family: "Lexend", serif;
  font-size: smaller;
  line-height: 175%;
}
.postTitle {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 300;
  line-height: 100%;
  color: #3a4d39;
}
.postBody {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}
.postImg {
  border: solid 1px #3a4d39;
  border-radius: 5px;
  width: 300px;
  float: left;
  margin-right: 15px;
}
.postContent {
  margin: 0 auto;
  line-height: 150%;
  text-align: left;
  font-size: larger;
}
.gridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
  max-width: 80%;
  text-align: left;
  margin: 0 auto;
  border: solid #3a4d39;
  border-radius: 5px;
  padding: 30px;
  color: #6a9c89;
  background-color: #ece3ce;
  font-family: "Lexend", serif;
  font-size: smaller;
  line-height: 175%;
}
.gridImage {
  border: solid 1px #3a4d39;
  border-radius: 5px;
}
figure {
  margin: 0;
}
.blogImgRight {
  border: solid 1px #3a4d39;
  border-radius: 5px;
  width: 200px;
  float: right;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.blogImgLeft {
  border: solid 1px #3a4d39;
  border-radius: 5px;
  width: 200px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
  .gridWrapper {
    display: block;
  }

  .petBioGrid {
    display: block;
  }
  .petBio {
    margin-bottom: 15px;
  }
  #pet-photo {
    margin-bottom: 5px;
  }
  .navigationH2 {
    font-size: small;
  }
  .navigationLinks {
    font-size: smaller;
  }
  .navigationH1 {
    font-size: larger;
  }
  .postImg {
    margin-bottom: 5px;
  }
  .postContent {
    margin-right: 10px;
  }
  .postBody {
    margin-right: 10px;
  }
  figcaption {
    margin-bottom: 15px;
  }
  .blogImgLeft {
    margin-bottom: 5px;
    display: block;
  }
  .blogImgRight {
    margin-bottom: 5px;
    display: block;
  }
}
