body {
  background-color: #c1d8c3;
}
.navigation {
  max-width: 90%;
  text-align: center;
  display: block;
  margin: 0 auto;
  border: solid #674636;
  border-radius: 5px;
  padding: 0px 15px;
  line-height: 75%;
  color: #c1d8c3;
  background-color: #fff5e4;
  opacity: 80%;
  font-family: "Lexend", serif;
  color: #cd5c08;
}
h1 {
  font-size: 30px;
  font-weight: 300;
}

h2 {
  color: #6a9c89;
  font-size: 12px;
}
.links {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  font-size: 12px;
}
a:link,
a:visited {
  color: #cd5c08;
}
a:hover {
  color: #674636;
}
.aboutEm {
  max-width: 90%;
  text-align: left;
  display: block;
  margin: 0 auto;
  border: solid #674636;
  border-radius: 5px;
  padding: 8px 15px;
  color: #c1d8c3;
  background-color: #fff5e4;
  font-family: "Lexend", serif;
  color: #674636;
  font-size: smaller;
  line-height: 175%;
  opacity: 80%;
}
.birdieIntro {
  max-width: 90%;
  text-align: left;
  display: block;
  margin: 0 auto;
  border: solid #674636;
  border-radius: 5px;
  padding: 8px 15px;
  color: #c1d8c3;
  background-color: #fff5e4;
  font-family: "Lexend", serif;
  color: #674636;
  font-size: smaller;
  line-height: 175%;
  opacity: 80%;
}
.petIntros {
  max-width: 90%;
  text-align: left;
  margin: 0 auto;
  border: solid #674636;
  border-radius: 5px;
  padding: 8px 15px;
  color: #c1d8c3;
  background-color: #fff5e4;
  font-family: "Lexend", serif;
  color: #674636;
  font-size: smaller;
  line-height: 175%;
  opacity: 80%;
}
.petName {
  color: #6a9c89;
  font-size: 20px;
}
.petBios {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
  grid-gap: 20px;
}
